


<h1>おすすめ飲食店</h1>
<h3>一覧ページ</h3>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '飲食店名で検索する'  %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag 'タグで検索する' %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
  <%= text_field_tag :tag %>
  <%= submit_tag 'タグを追加' %>
<% end %>

<%= link_to "新規投稿へ", new_tweet_path %>
<%= link_to "診断へ", new_perfume_path %>



<%= page_entries_info @tweets %>
<%= paginate @tweets %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <%= t.user.email %> 
      <%= t.spot %>
      <%= t.title %>

      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>

      <% t.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>

     

      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
  <i class="far fa-heart"></i><%= t.likes.count %>
  <% end %>

<% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "詳細", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %> 
    <% end %>
     
    </div>
  <% end %>

  <h2>gmap</h2>

  <input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display">何かが表示される、、、、！</div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}


function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4uKsqry7TzUAhDrxBWt3L46mBcgsHjIw&callback=initMap" async defer></script>

</div>