
<%= image_tag 'ドラセブン１.jpg' , size:"200×200", class:"a1" %>
<%= image_tag 'ドラセブン３.jpg', size:"200×200" ,class:"a3"%>
<%= image_tag 'ドラセブン２.jpg', size:"200×200" , class:"a2"%>
<%= image_tag 'ドラセブン４.jpg', size:"200×200", class:"a4" %>
<%= image_tag 'ドラセブン５.jpg', size:"403×400", class:"a5" %>
<%= image_tag 'ドラセブン６.jpg' , size:"403×401",class:"a6" %>
<%= image_tag 'ドラセブン７.jpg', size:"200×200" ,class:"a7" %>
<%= image_tag 'ドラセブン８.jpg' , size:"200×200",class:"a8" %>
<%= image_tag 'ドラセブン９.jpg', size:"200×200", class:"a9" %>
<%= image_tag 'ドラセブン１０.jpg', size:"200×200" ,class:"a10" %>

<div class="tweet">

    <div class=spottext>
     <p><%= @tweet.spot %></p>
    </div>

    <div class=spottext2>
     <p>新宿駅西口からすぐ！旬の和の食材のイタリアンとナチュールワインのバル！！ 
      <br> フードメニューは旬に合わせて毎月変わります！
      <br>【自家製生麺のパスタ】や【窯焼きナポリピッツァ】をメインに旬の和の食材を
      <br>使ったイタリアンをお楽しみください。
      <br>大人気のロッシーニ、シラスのペペロンチーノ、窯焼きPIZZAはもちろんありながら、
      <br>和のテイストもいれた新メニューも多数登場！！
      <br>おしゃれな賑わう空間で、思わず写真を取ってしまうインスタ映え抜群な創作料理は
      <br>女子ウケ間違いなし！
      <br>バースデープレートも予約できるので誕生日のサプライズや記念日にも使えます！
      </p>
    </div/>

    <p  class=access>【住所】東京都新宿区西新宿7-11-15 ミヤコビル 1F</p>
    <p  class=phone>【お問い合わせ】050-5595-6311</p>

</div>



<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../demo.css">
  <link rel="stylesheet" href="buttonOutline.css">
  <title>アウトラインのボタン</title>
</head>
<body>
  <a href="https://tabelog.com/tokyo/A1304/A130401/13221779/dtlmenu/" class="buttonOutline">MENU(食べログ)</a>
</body>
<body>
  <a href="https://maps.app.goo.gl/W4t4eDEohAmGrTXRA" class="buttonOutline2">MAP</a>
</body>
<body>
  <a href="https://yoyaku.toreta.in/draemonseven/#/" class="buttonOutline3">WEB予約</a>
</body>


<div class="text">
 <ul>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
   <li>DRA7</li>
 </ul>
</div>

<div class="sample02">
 <ul>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 <li>What will you eat today? </li>
 </ul>
<div>

